html {
  scroll-behavior: smooth;
  height         : 100%;
}

body {
  overflow-x: hidden;
  height    : 100%;
}

:target {
  scroll-margin-top: 70px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

hr {
  margin: 0;
}

/*
pre code {
  border          : 1px solid #c1e8fa;
  border-radius   : 5px;
  background-color: aliceblue !important;
  padding-top     : 0 !important;
  font-size       : 12pt;
}*/

div.code {
  border          : 1px solid #c1e8fa;
  border-radius   : 5px;
  background-color: aliceblue;
  font-family     : monospace;
  white-space     : pre-line;
  padding         : 0px 15px 15px 15px;
  margin-bottom: 15px;
  line-height     : normal;
}

/*INICIO HEADER TOPO*/
#header-top {
  padding    : 5px 10px 5px 20px;
  display    : flex;
  align-items: center;
  position   : fixed;
}

#header-top div:last-child {
  flex           : 3;
  display        : flex;
  justify-content: end;
}


#logo {
  font-family : 'Oswald', sans-serif;
  font-size   : 20pt;
  color       : #fff;
  display     : block;
  padding-left: 10px;
}

#link-github:hover {
  color: cyan;
}

#link-github {
  font-weight : bolder;
  color       : #fff;
  margin-right: 20px;
}

.btn-bar {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  border         : 0;
  background     : transparent;
  border-radius  : 0;
  transition     : all .2s linear;
  height         : 30px;
  width          : 35px;
  cursor         : pointer;
  z-index        : 1;
}

.icon-bar {
  display   : block;
  width     : 25px;
  height    : 3px;
  background: #fff;
  transition: .3s;
}

.icon-bar+.icon-bar {
  margin-top: 5px;
}

/*FIM HEADER TOPO*/

/*INICIO SIDEBAR*/
.sidebar {
  height          : 100%;
  width           : 300px;
  position        : fixed;
  z-index         : 1;
  top             : 50px;
  left            : 0;
  background-color: #f8f9fa;
  transition      : 0.5s;
}

.sidebar-header {
  padding: 10px 0px 5px 10px;
}

.sidebar-header h3 {
  color: #4C33A6;
}

.closebtn {
  color    : rgb(143, 5, 5);
  position : absolute;
  top      : 0;
  right    : 25px;
  font-size: 36px;
}

.closebtn:hover {
  color: red;
}

.sidebar nav {
  font-size : 13pt;
  padding   : 5px;
  width     : 300px;
  height    : 75vh;
  overflow-x: auto;
}

.sidebar nav>ul {
  width: 400px;
}

.sidebar ul {
  list-style-type: none;
  padding-left   : 10px;
}

ul.sublist {
  padding-left: 30px;
}

#developer {
  text-align : center;
  padding-top: 10px;
  font-size  : 0.7rem;
  color      : #4C33A6;
}

/*FIM SIDEBAR*/

.content {
  margin-left : 300px;
  padding-left: 30px;
  padding-top : 30px;
  transition  : margin-left .5s;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color : #4C33A6;
  margin: 20px 0;
}

.content h1 {
  margin-top   : 50px;
  margin-bottom: 30px;
}

.content p {
  font-size       : 13pt;
  background-color: (0, 0, 0, .5);
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 0;
  }

  .content {
    margin-left: 0;
  }

  .sidebar.hide {
    width: 300px;
  }

  /*.content.hide {margin-left: 300px;}*/
}

@media screen and (min-width: 769px) {
  .sidebar.hide {
    width: 0;
  }

  .content.hide {
    margin-left: 0;
  }
}