html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

:target {
  scroll-margin-top: 70px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

hr {
  margin: 0;
}

pre code {
  border          : 1px solid #c1e8fa;
  border-radius   : 5px;
  background-color: aliceblue !important;
  padding-top     : 0 !important;
  font-size       : 12pt;
}

#header-container {
  height: 50px;

}

/*INICIO HEADER TOPO*/
#header-top {
  padding    : 5px 10px 5px 20px;
  display    : flex;
  align-items: center;
  position   : fixed;
}

#header-top div:last-child {
  flex           : 3;
  display        : flex;
  justify-content: end;
}


#logo {
  font-family: 'Oswald', sans-serif;
  font-size  : 20pt;
  color      : #fff;
}

#link-github:hover {
  color: cyan;
}

#link-github {
  font-weight : bolder;
  color       : #fff;
  margin-right: 20px;
}

/*FIM HEADER TOPO*/

/*INICIO SIDEBAR*/
.sidebar {
  padding-right   : 0;
  box-sizing      : border-box;
  position        : fixed;
  top             : 50px;
  left            : 0;
  height          : 100%;
  width           : 300px;
  background-color: #f8f9fa;
  transition      : all 0.3s linear;
}

.sidebar-header {
  padding: 10px 0px 5px 10px;
}

.sidebar h3 {
  color: #4C33A6;
}

.sidebar nav {
  font-size: 13pt;
  padding  : 5px;
  width    : 300px;
  height   : 520px;
  overflow : scroll;
}

.sidebar nav>ul {
  width: 400px;
}

.sidebar ul {
  list-style-type: none;
  padding-left   : 10px;
}

ul.sublist {
  padding-left: 30px;
}

.btn-bar {
  position       : fixed;
  top            : 60px;
  left           : 250px;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  border         : 0;
  background     : transparent;
  border-radius  : 0;
  transition     : all .3s linear;
  height         : 30px;
  width          : 35px;
  cursor         : pointer;
  z-index        : 1;
}

.icon-bar {
  display   : block;
  width     : 25px;
  height    : 3px;
  background: rgba(250, 3, 168, 0.333);
  transition: .3s;
}

.icon-bar+.icon-bar {
  margin-top: 5px;
}

.icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.icon-bar:nth-of-type(2) {
  opacity: 0;
}

.icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

.sidebar.hide {
  margin-left: -300px;
}

.btn-bar.hide {
  transform: translateX(-230px);
}

.btn-bar.hide .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}

.btn-bar.hide .icon-bar:nth-of-type(2) {
  opacity: 1;
}

.btn-bar.hide .icon-bar:nth-of-type(3) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}

.btn-bar.hide .icon-bar {
  background-color: var(--bs-blue);
}

/*FIM SIDEBAR*/

.content {
  padding-left: 15px;
  margin-left : 330px;
  transition  : all 0.3s linear;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color : #4C33A6;
  margin: 20px 0;
}

.content h1 {
  margin-top   : 50px;
  margin-bottom: 30px;
}

.content p {
  font-size       : 13pt;
  background-color: (0, 0, 0, .5);
}

.content.hide {
  margin-left: 60px;
}

@media (max-width: 450px) {
  .btn-bar {
    margin-left: -15px;
  }

  .content {
    padding-left: 0;
    margin-left : 10px;
  }
}