body {
  font-size: .875rem;
}

main {
  margin-top: 2rem;
}

.sub-title {
  margin-top: 2.5rem;
}

#container {
  color: #444;
  font-size: 13pt;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 5px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar h3{
  display: inline-block;
  padding: 1rem 0 0 1rem;
  margin-bottom: 0;
}

.sidebar h3 a {
  color: #333;
}

.sidebar h3 a:hover {
  text-decoration: none;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #007bff;
}


.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar


.navbar-brand {
  background-color: #007bff;
  border-color: #007bff;
  color: aliceblue;
  position: absolute;
  right: 0;
  top: 1rem;
} */

.btn-menu {
  position: absolute;
  right: 0.7rem;
  top: 1rem;
  z-index: 100;
  display: none;
}
.navbar-toggle {
  padding: .5rem;
}

.accordion {
  padding-left: 10px;
}
.accordion-button {
  font-size: 1rem;
  font-weight: bolder;
}

.accordion-button:hover {
  text-decoration: none;
  cursor: pointer;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media(max-width: 768px) {
  .main-header > #link-github{
    margin-right: 80px;
  }

  .btn-menu {
    display: block;
  }
}


