<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav {
            height: 200px;
            width: 500px;
            overflow: scroll;
        }
        ul {
            width: 700px;
        }
    
    </style>
</head>
<body>
    <nav>
        <ul>
            <li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quas esse illum quae? Asperiores perspiciatis alias aperiam voluptatibus, et, minus natus perferendis omnis itaque voluptates nobis cum. Illo, ipsum deserunt!
                </p>
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas voluptatum ab eveniet illo deserunt nisi corporis temporibus vitae aperiam soluta, in pariatur tempora? Repellendus ipsam amet inventore provident quisquam.
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nihil, officia magni modi quidem harum perferendis, est animi vero corrupti excepturi eius quod sit nesciunt iusto temporibus. Atque, consequuntur impedit.
            </li>
        </ul>
    </nav>
</body>
</html>