<h1 id="link-top">Primeiros passos com KoutDB</h1>

<p>
    Antes de comerçarmos a criar e executar instruções SQL, devemos primeiro
    informar para KoutDB uma conexão com Banco de Dados existente. Para isso, basta
    passarmos por parâmetro um objeto PDO para o método <code>KoutDB::setPDO</code>:
</p>

<pre class="block-code">
    <code>
        $pdo = new \PDO(...);
        KoutDB::setPDO($pdo);
    </code>
</pre>

<p>Prontinho! Agora nós podemos começar a criar e executar instruções SQL. Veja como é fácil:</p>

<pre class="block-code">
    <code>
        $result = KoutDB::select('descricao', 'preco_compra')
        ->table('produto')
        ->exec()
        ->getAll();
    </code>
</pre>

<p>
    O trecho de código acima demonstra uma consulta de todos os registros
    da tabela produto. No método <code>select('descricao', 'preco_compra')</code>
    informamos a lista de campos que queremos recuperar separados por vírgula. Em seguida,
    chamamos o método <code>table('produto')</code> para informarmos o nome da tabela
    que será feita a consulta SQL. Para executarmos a instrução, chamamos o método 
    <code>exec()</code> e para recuperarmos os registros retornados pela consulta usamos o método 
    <code>getAll()</code>. Existem outros métodos além de <code>getAll()</code> 
    para recuperar o resultado que serão demonstrados no decorrer da documentação.
</p>

<p>
    Para vermos a instrução SQL gerada pela API, basta executarmos o método <code>sql()</code> em vez do
    método <code>exec()</code>:
</p>

<pre class="block-code">
    <code>
        $sql = KoutDB::select('*')
        ->table('produto')
        ->sql();

        var_dump($sql);

        SQL Gerada:
            SELECT * FROM produto;
    </code>
</pre>

<p>
    Ok. Então vimos uma simples demonstração de uso da API KoutDB, para prosseguir 
    aprendendo mais recursos avançados click 
    <a href="/query" class="route" title="Consultas SQL">aqui</a>.
</p>