<h1 id="link-top">Primeiros passos com DataB</h1>

<p>
    Antes de comerçar a criar e executar instruções SQL, primeiro você deve
    informar para DataB uma conexão com Banco de Dados existente. Para isso, basta
    passar por parâmetro um objeto PDO para o método <code>DataB::setPDO</code>:
</p>

<pre>
    <code class="hljs">
        $pdo = new \PDO(...);
        DataB::setPDO($pdo);
    </code>
</pre>

<p>Prontinho! Agora você já pode começar a criar e executar instruções SQL. Veja como é fácil:</p>

<pre>
    <code>
        $result = DataB::select('*')
        ->table('books')
        ->exec()
        ->getAll();
    </code>
</pre>

<p>
    No exemplo acima, buscamos por todos os registros da tabela <code>books</code>.
</p>

<p>
    Para ver a instrução SQL gerada no código acima, basta executar o método <code>sql()</code> em vez do
    método <code>exec()</code>:
</p>

<pre>
    <code>
        $sql = DataB::select('*')
        ->table('books')
        ->sql();

        var_dump($sql);
    </code>
</pre>

<p>
    Ok. Então você viu uma simples demonstração de uso da lib DataB, para prosseguir aprendendo mais recursos avançados
    navegue pela documentação e divirta-se \O/.
</p>


<div class="next-pages">
    <a href="/query" class="route link-aux" title="Consultas SQL">Próximo></a>
</div>

<script src="./js/highlight.min.js"></script>
<script>hljs.highlightAll();</script>