<h1 id="link-top">Documentação DataB</h1>

<p>
    DataB é uma library que facilita a criação e execução de instruções SQL usando PDO (PHP Data Object).
</p>

<h4 class="sub-title">Detalhes</h4>
<p>
    Versão atual: <b>1.0.0</b> <br>
    Licença: <b>MIT</b>
</p>

<h4 class="sub-title">Como instalar</h4>
<p>
    DataB pode ser instalada através do Composer, que é gerenciador de pacotes 
    para a linguagem PHP. <br>
    Basta executar o comando: <code>composer require carloskout/datab 1.*</code>
</p>

<p>
    Instalado? Ótimo! Agora você está pronto para dá os primeiros passos
    com lib DataB <a href="/gettingstarted" class="route link-aux" title="Primeiros passos com DataB" id="link"> através de exemplos práticos</a>.
</p>