<h1>KoutDB SQL Builder</h1>

<p>
    KoutDB consiste em uma API que disponibiliza serviços para criação e execução de instruções SQL
    de forma fácil e prática. A criação dessa API surgiu da necessidade de aplicar meus conhecimentos
    na linguagem PHP. Claro que existem diversos frameworks no mercado que são muitos bons, no entanto
    KoutDB não foi criada para competir e sim para demonstrar meus conhecimentos em programação PHP e SQL.
</p>

<h4 class="sub-title">Detalhes API</h4>
<p>
    Versão atual: <b>1.0.0</b> <br>
    Licença: <b>MIT</b>
</p>

<h4 class="sub-title">Como instalar</h4>
<p>
    API KoutDB pode ser instalada através do Composer, que é gerenciador de pacotes 
    para a linguagem PHP. <br>
    Basta executar o comando: <code>composer require carloskout/koutdb 1.*</code>
</p>

<p>
    Instalado? Ótimo! Agora você pode começar a aprender a usar a API através de 
    <a href="/gettingstarted" class="route" id="link">Exemplos práticos</a>.
</p>