<h1 id="top-link">Consultas SQL</h1>

<p>
    Neste módulo aprenderemos tudo sobre como criar e executar consultas SQL usando a API koutDB.
    Mostraremos o uso de cláusulas, junções de tabelas com joins, expressões lógicas e aritméticas,
    subqueries e uso de funções nativas do Banco de Dados.
</p>

<p>
    Se você não viu o módulo anterior, 
    <a href="/gettingstarted" class="route" title="Primeiros passos com KoutDB">
        Como dá os primeiros passos com koutDB
    </a>,
     volte para lá e veja como configurar a API para prosseguirmos com nossos estudos.
</p>